* {
  box-sizing: border-box;
}
.left-sidebar {
  position: sticky;
  height: 93.93vh;
  width: 10vw;
  background-color: rgb(216, 224, 224);
}

.left-sidebar > nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.list-item {
  border-bottom: 0em solid peru;
  cursor: pointer;
}
.list-item:hover,
.nested-list > li:hover {
  background-color: white;
}

.list-item:active,
.nested-list > li:active {
  background-color: rgb(216, 224, 224);
}

.nested-list > li {
  border-bottom: 0em solid peru;
  cursor: pointer;
}

.left-sidebar a {
  padding: .8rem;
  text-decoration: none;
  color: inherit;
  display: block;
  font-size: 2vh;
  font-weight: bold;
}

@media screen and (max-width: 1007px)
{
   .left-sidebar a{
     font-size: 1.5vh;
   }
   .left-sidebar{
     width: 18vh;
   }
}
@media screen and (max-width:  640px)
{
 .left-sidebar a{
   font-size: .8vh;
   padding: .5rem;
 } 
 .left-sidebar{
   width: 13vh;
   height: 93.93vh;
 }
}