* {
  box-sizing: border-box;
}

.body {
  margin: 9px;
}

.review-assignment {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.review-assignment input {
  height: 30px;
}
.create-assignment {
  margin: auto;
}

.create-assignment form {
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 800px;
  justify-content: center;
  align-items: center;
}
label {
  font-size: 1.3rem;
  letter-spacing: 2px;
}
.create-assignment input[type="text"] {
  margin: 5px 0 20px 0;
  background-color: rgb(216, 224, 224);
  height: 50px;
  width: 500px;
  font-size: 1.3rem;
  letter-spacing: 2px;
}

.create-assignment textarea {
  margin: 5px 0 5px 0;
  width: 500px;
  font-size: 1.3rem;
  letter-spacing: 2px;
}

.create-assignment input[type="submit"],
.review-assignment input[type="submit"] {
  background-color: rgb(216, 224, 224);
  /* height: 50px; */
  /* width: 200px; */
}
select {
  font-size: 0.9rem;
  padding: 2px 5px;
  background-color: rgb(216, 224, 224);
}

.review-assignment form {
  display: flex;
  flex-direction: column;
}

.review-assignment form * {
  margin: 2px;
}

table,
td {
  border: 1px solid #333;
}

td {
  padding: 12px;
}

thead,
tfoot {
  background-color: #333;
  color: #fff;
}
