/* * {
  box-sizing: border-box;
}

.body {
  margin: 9px;
}

.review-assignment {
  display: flex;
  width: 100%;
}

.review-assignment input {
  height: 30px;
}
.create-assignment {
  margin: auto;
}

.create-assignment form {
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 800px;
  justify-content: center;
  align-items: center;
}
label {
  font-size: 1.3rem;
  letter-spacing: 2px;
}
.create-assignment input[type='text'] {
  margin: 5px 0 20px 0;
  background-color: rgb(216, 224, 224);
  height: 50px;
  width: 500px;
  font-size: 1.3rem;
  letter-spacing: 2px;
}

.create-assignment textarea {
  margin: 5px 0 5px 0;
  width: 500px;
  font-size: 1.3rem;
  letter-spacing: 2px;
}

.create-assignment input[type='submit'],
.review-assignment input[type='submit'] {
  background-color: rgb(98, 100, 100);
  height: 50px;
  width: 200px;
}
input[type='submit'] {
  cursor: pointer;
}
input[type='submit']:disabled {
  cursor: not-allowed;
}
select {
  font-size: 0.9rem;
  padding: 2px 5px;
  background-color: rgb(216, 224, 224);
}

.review-assignment form {
  display: flex;
  flex-direction: column;
}

.review-assignment form * {
  margin: 2px;
}

table,
td {
  border: 1px solid #333;
}

td {
  padding: 12px;
}

thead,
tfoot {
  background-color: #333;
  color: #fff;
}

.loading:after {
  content: ' .';
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: white;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 white;
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 white;
  }
}
#iframe {
  width: 100%;
  height: 600px;
  margin: 2px;
  margin-left: 100px;
  border: 2px solid black;
}
.marks_comments {
  margin-left: 350px;
  margin-top: 20px;
}
@media screen and (max-width: 1007px) {
  #iframe {
    width: 100%;
    height: 580px;
    margin: 2px;
    margin-left: 10px;
    border: 2px solid black;
  }
  .marks_comments {
    margin-left: 10px;
    margin-top: 0px;
  }
  .create-assignment form {
    margin-left: 50px;
  }
}
@media screen and (max-width: 640px) {
  .review-assignment {
    font-size: 0.8vh;
  }
  td {
    padding: 5px;
    font-size: 0.8vh;
  }
  #iframe {
    width: 100%;
    height: 223px;
    margin: 2px;
    margin-left: 0px;
    margin-top: -10px;
    border: 2px solid black;
  }
  .marks_comments {
    margin-top: 30px;
    margin-left: -60px;
    margin-top: 0px;
  }
  .review-assignment input[type='submit'],
  input[type='number'],
  .review-assignment textarea {
    height: 50px !important;
    width: 120px !important;
    font-size: 1vh;
  }
  .review-assignment {
    font-size: 0.5vw;
  }
  #new_tab {
    width: 120px;
    height: 10px;
    font-size: 0.5vh;
    padding: 0px;
  }
  #unit {
    width: 200px;
  }

  .create-assignment form {
    width: 175px;
    height: 400px;
    font-size: 1vh;
    margin-top: -300px;
  }
  .create-assignment input[type='text'] {
    width: 200px;
    font-size: 1vh;
  }
  .create-assignment textarea {
    font-size: 1vh;
  }

  label {
    font-size: 1rem;
    letter-spacing: 0px;
  }
} */
