.VideoContainer{
    width: 100%;
}

#video{
    margin: 0 auto;
    padding-top: 50px;
    width: 810px !important;
    height: 450px !important;
    margin-left: 34%;
    padding-bottom: 50px;
    
}
.unitinfo{
    margin-top: 40px;
    margin-left: 34%;
    font-size: 18px;
    font-weight: bold;
    color: #575d76;
    padding-bottom: 5px;
    

}

.LectureTitle{
    margin-left: 34%;
    background-color: #f0f3f6;
    height: 33px;
    display: flex;
    align-items: center;
    padding: 5px;
    width: 800px;
    border-radius: 5px;
}

.forwardbackward{
    margin-left: 34%;
    width: 810px;
    display: flex;
    align-items: center;
}
#leftarrow , #rightarrow{
    position: relative;
}

.btn1:hover #leftarrow{
      right: 5px;
      transition: ease all .3s;
}
.btn3:hover #rightarrow{
    left: 5px;
    transition: ease all .3s;
}

@media screen and (max-width: 600px) {
    /* .Sidebar_Container{
        width: 0px !important;
        color: transparent !important;
    }
    #coursetitle{
        color: transparent !important;
    } */
    
    #video{
        margin: 0 auto;
        width: 300px !important;
        height: 170px !important;
    }
    .unitinfo{
        width: 300px;
        margin: 0 auto;
        padding-top: 10px;
    }
    .LectureTitle{
        width: 300px;
        height: 90px;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-evenly;
    }
    .forwardbackward{
        /* margin-left: 34%; */
        width: 300px;
        display: flex;
        flex-direction: column;
        margin: auto !important;
    }
    .btn1{
        margin-left: auto !important;
        margin-bottom: 5px;
    }
    .btn3{
        margin-right: auto !important;
        margin-top: 5px;
    }
    .inprogress{
        margin: 0 auto !important;
    }
  }
