.cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.dashboardContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}


@media screen and (max-width: 768px)
{
    .cards{
        margin-top: 40px;
       justify-content: center;
    }
}